<?xml version="1.0" encoding="utf-8"?><routes><route team="Tonathiu" cost="11" cities="5"><city id="0" name="campo base"></city><city id="1" name="Cusco"></city><city id="3" name="Ollantaytambo"></city><city id="9" name="Machu Picchu"></city><city id="12" name="Rovine Perdute"></city></route></routes>